/* Utilities */

.container {
  display: flex;
  margin: 0;
  padding: 0;
}

.container-col {
  display: flex;
  flex-direction: column;
}

/* Navbar */

.navbar-brand {
  color: white;
  font-size: 1.5rem;
}

.navbar > .container-fluid {
  justify-content: end;
}

/* Body */

#search-heading {
  font-size: 1.2rem;
}

#form1 {
  width: 320px;
  border-radius: 0;
}

.input-group {
  width: 400px;
}

hr {
  width: 100%;
}

.current {
  height: fit-content;
}

.card {
  margin-right: 0.5rem;
  width: fit-content;
}

.list-group-item {
  padding: 0.5rem;
}

/* Mobile */
@media screen and (max-width: 450px) {
  .container {
    flex-direction: column;
    width: fit-content;
  }

  .card {
    margin-top: 0.5rem;
  }

  #form1 {
    max-width: 300px;
    border-radius: 0;
  }

  .input-group {
    width: 350px;
  }
}

/* Tablets */
@media screen and (min-width: 450px) and (max-width: 920px) {
  #form1 {
    max-width: 120px;
    border-radius: 0;
  }

  .input-group {
    width: 200px;
  }
}
