/* Utilities */

.container-col {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 100vh;
}

.container-col-2 {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

/* Navbar */

.navbar-brand {
  color: white;
  font-size: 1.5rem;
}

.navbar > .container-fluid {
  justify-content: end;
}

/* Body */

#search-heading {
  font-size: 1.2rem;
}

#form1 {
  max-width: 175px;
  border-radius: 0;
}

hr {
  width: 250px;
}
