/* Utilities */

.container {
  display: flex;
  margin: 0;
  padding: 0;
}

.container-col {
  display: flex;
  flex-direction: column;
}

/* Navbar */

.navbar-brand {
  color: white;
  font-size: 1.5rem;
}

.navbar > .container-fluid {
  justify-content: end;
}

/* Body */

#search-heading {
  font-size: 1.2rem;
}

#form1 {
  max-width: 200px;
  border-radius: 0;
}

.input-group {
  max-width: 275px;
}

hr {
  width: 100%;
}

.current {
  height: fit-content;
}

.list-group-item {
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: fit-content;
  }

  .card {
    margin-top: 0.5rem;
  }
}
